alembic==1.15.2
schema==0.7.7
rlp==4.1.0
web3==7.10.0
boto3==1.38.18
SQLAlchemy==2.0.41
pymysql==1.1.1
lighthouseweb3==0.1.4
protobuf==5.29.4
grpcio==1.71.0
grpcio-health-checking==1.71.0
grpcio-tools==1.71.0
ipfshttpclient==0.4.13